In [1]:
    # 1   write a program to reverse a  string

In [1]:
a="hello, world"

In [4]:
type(a)

str

In [2]:
a[::-1]

'dlrow ,olleh'

In [6]:
'''in this i  use slice function and we have to go back so i put -1 at last '''

'in this i  use slice function and we have to go back so i put -1 at last '

In [7]:
#ques 2  Check if a string is a palindrome.

In [16]:
def isPalindrome(s):
 
    return s == s[::-1]
s = "malayalam"
ans = "isPalindrome(s)" 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#. Convert a string to uppercase. ques 3

In [9]:
a

'my name is meraj and i live in delhi'

In [10]:
type(a)

str

In [11]:
a.upper()

'MY NAME IS MERAJ AND I LIVE IN DELHI'

In [ ]:
#in this i use inbuilt function of uppercase

In [ ]:
#ques 4

In [17]:
b="I am MERAJ"

In [18]:
b.lower()

'i am meraj'

In [46]:
#ques5
#count method

In [45]:
a=input()
vowels="aeiouAEIOU"
count=sum(a.count(vowel) for vowel in vowels)
print(count)

 name

2

In [32]:
a="my name is meraj and i live in delhi"
vowels="aeiouAEIOU"
a.count(vowel) for vowel in vowels

SyntaxError: invalid syntax (1028430218.py, line 3)

In [2]:
def count_vowels(string):
    # Initialize a variable to keep track of the vowel count
    vowel_count = 0

    # Convert the input string to lowercase to handle both upper and lowercase vowels
    string = string.lower()

    # Define a set of vowels
    vowels = set("aeiou")

    # Iterate through each character in the string
    for char in string:
        # Check if the character is a vowel
        if char in vowels:
            # Increment the vowel count if the character is a vowel
            vowel_count += 1

    # Return the final vowel count
    return vowel_count

# Test the function
input_string = "Hello, how are you?"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 7

In [56]:
# Python3 code to count vowel in
# a string using set

# Function to count vowel
def vowel_count(str):
	
	# Initializing count variable to 0
	count = 0
	
	# Creating a set of vowels
	vowel = set("aeiouAEIOU")
	
	# Loop to traverse the alphabet
	# in the given string
	for alphabet in str:
	
		# If alphabet is present
		# in set vowel
		if alphabet in vowel:
			count = count + 1
	
	print("No. of vowels :", count)
	
# Driver code
str = "GeeksforGeeks"

# Function Call
vowel_count(str)

No. of vowels : 5

In [6]:
def vowel_count(string):
    count=0
    vowel=set("aeiouAEIOU")
    for char in  string:
        if char in vowel:
            count+=1
            return count
    
            
            print(count)
            string=" i am meraj"

In [ ]:
#  ques 6    Count the number of consonants in a string.

In [8]:
a=input()
consonant="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
count=sum(a.count(consonant) for consonant in consonant)
print(count)

 my

2

In [ ]:
#ques 7

In [37]:
a

'my name is meraj and i live in delhi'

In [38]:
a.replace(" ","")

'mynameismerajandiliveindelhi'

In [ ]:
#in this i use replace function to replace blank space with no space

In [ ]:
#ques8

In [3]:
string= input()
count=0
for char in string:
    count+=1
print(count)

 my name

7

In [ ]:
#ques 9

In [ ]:
# Step 1: Input the string and the specific word
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

# Step 2: Check if the specific word is present in the string using the 'in' keyword
if specific_word in input_string:
    # Step 3: Print message if word is present
    print(f"The string contains the word '{specific_word}'.")
else:
    # Step 3: Print message if word is not present
    print(f"The string does not contain the word '{specific_word}'.")

In [5]:
#ques 10

In [ ]:
# Step 1: Accept the input string
input_string = input("Enter a sentence: ")

# Step 2: Accept the old word and the new word
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

# Step 3: Replace the old word with the new word using string.replace() method
modified_string = input_string.replace(old_word, new_word)

# Step 4: Print the modified string
print("Modified string:", modified_string)

In [6]:
#que  11

In [9]:
def count_word_occurrences(input_string, target_word):
    # Step 1: Initialize a variable to keep track of the word count
    word_count = 0

    # Step 2: Split the input string into a list of words
    words = input_string.split()

    # Step 3: Iterate through each word in the list
    for word in words:
        # Step 4: Check if the current word matches the target word
        if word == target_word:
            # Step 5: Increment the word count if the words match
            word_count += 1

    # Step 6: Return the final word count
    return word_count

# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."

# Target word to count
target_word = "sample"

# Call the function and print the result
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

In [11]:
#12

In [14]:
def find_first_occurrence(text, word):
    # Step 1: Find the index of the first occurrence of the word in the text.
    index = text.find(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the first occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

In [13]:
def find_first_occurrence(input_string, target_word):
    return input_string.find(target_word)

input_string = input("Enter a string: ")
target_word = input("Enter the word to find: ")

first_occurrence_index = find_first_occurrence(input_string, target_word)

if first_occurrence_index != -1:
    print("First occurrence of the word:", first_occurrence_index)
else:
    print("Word not found in the string.")

Enter a string:  meraj is meraj
Enter the word to find:  j

First occurrence of the word: 4

In [15]:
#13

In [24]:
def find_last_occurrence(text, word):
    # Step 1: Find the index of the last occurrence of the word in the text.
    index = text.rfind(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == 1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the last occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence also contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

In [11]:
def find_last_occurrence(input_string, target_word):
    return input_string.rfind(target_word)

input_string = input("Enter a string: ")
target_word = input("Enter the word to find: ")

last_occurrence_index = find_last_occurrence(input_string, target_word)

if last_occurrence_index != -1:
    print("Last occurrence of the word:", last_occurrence_index)
else:
    print("Word not found in the string.")

Enter a string:  meraj isjk
Enter the word to find:  j

Last occurrence of the word: 8

Enter a string:  my name is meraj

List of words: ['my', 'name', 'is', 'meraj']

In [25]:
input_string = input("Enter a string: ")
words_list = input_string.split()

print("List of words:", words_list)

Enter a string:  my name is meraj

List of words: ['my', 'name', 'is', 'meraj']

In [ ]:
#ques 16

In [ ]:
a

In [36]:
a.replace(" ","_")

'my_name_is_meraj_and_i_live_in_delhi'

In [26]:
#ques 17

In [28]:
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.startswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

In [30]:
#18

In [ ]:
def ends_with(text, suffix):
    # Step 1: Use the endswith() method to check if the text ends with the specified suffix.
    is_end = text.endswith(suffix)

    # Step 2: Return the result of the check.
    return is_end

# Example usage
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

In [ ]:
#ques 19

In [31]:
def convert_to_title_case(text):
    # Step 1: Use the title() method to convert the text to title case.
    title_case_text = text.title()

    # Step 2: Return the converted text.
    return title_case_text

# Example usage
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

In [ ]:
#ques 20

In [ ]:
def find_longest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the longest word and its length.
    longest_word = ""
    max_length = 0

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is greater than the current max_length.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    # Step 4: Return the longest word.
    return longest_word

# Example usage
text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

In [32]:
#21

In [33]:
def find_shortest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the shortest word and its length.
    shortest_word = None
    min_length = float('inf')  # Initialize to a large value

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is smaller than the current min_length.
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    # Step 4: Return the shortest word.
    return shortest_word

# Example usage
text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

In [34]:
#22

In [35]:
a="my name is meraj"
a[::-1]

'jarem si eman ym'

In [38]:
#ques 23

In [39]:
def is_alphanumeric(text):
    return text.isalnum()
text="hello1123"
if result:
    print("this string is alphanum")
else:
    print("The string is not alphanumeric.")

this string is alphanum

In [36]:
a.isalnum()

False

In [ ]:
#ques  24

In [40]:
def extract_digits(text):
    # Step 1: Initialize an empty string to store the extracted digits.
    digits = ""

    # Step 2: Iterate through each character in the text.
    for char in text:
        # Check if the character is a digit using the isdigit() method.
        if char.isdigit():
            # Append the digit to the digits string.
            digits += char

    # Step 3: Return the extracted digits.
    return digits

# Example usage
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

In [41]:
#25

In [43]:
def extract_alphabets(input_string):
    alphabets = ''.join([char for char in input_string if char.isalpha()])
    return alphabets

# Example input string
input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

HelloWorld

In [44]:
#26

In [45]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

# Example input string
input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

In [ ]:
#27

In [ ]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

# Example input string
input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

In [46]:
#28

In [ ]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

In [ ]:
#29

In [51]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  # Split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]  # Create a new list excluding the word to remove
    modified_string = ' '.join(filtered_words)  # Join the filtered words back into a string
    return modified_string

# Example input string and word to remove
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

In [52]:
#30

In [53]:
#import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

NameError: name 're' is not defined

In [ ]:
#31

In [ ]:
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

In [54]:
#32

In [55]:
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

In [56]:
#33

In [ ]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

In [57]:
#34

In [58]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [59]:
#35

In [61]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [62]:
#36

In [ ]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

In [63]:
#37

In [64]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [65]:
#38

In [ ]:
def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

# Example strings
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

In [66]:
#39

In [67]:
def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [ ]:
#40

In [68]:
def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello, world!"

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [69]:
#41

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

In [70]:
#42

In [ ]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

In [72]:
#43

In [73]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [74]:
#44

In [75]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [76]:
#45

In [77]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'world', 'there', 'hello', 'hows', 'the'}

In [78]:
#46

In [ ]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

In [79]:
#47import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [80]:
#48

In [ ]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

In [ ]:
#49

In [1]:
def insert_word_at_n(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 0 and n <= len(words):
        # Insert the word at the nth position in the words list
        words.insert(n, word_to_insert)

        # Join the words to form the modified string
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None

# Example string, word to insert, and n value
input_str = "This is a test string."
word_to_insert = "sample"
n_value = 3

# Insert the word at the nth position
modified_str = insert_word_at_n(input_str, word_to_insert, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

Original string: This is a test string.
Modified string: This is a sample test string.

In [ ]:
#50

In [82]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [ ]:
#list basee questions

In [83]:
#ques 1

In [84]:
# Use a list comprehension to create a list of integers from 1 to 10
integer_list = [i for i in range(1, 11)]

# Print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#ques 2

In [85]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

In [87]:
#3

In [88]:
# Example list
my_list = [10, 20, 30]

# Element to append
new_element = 40

# Append the new element to the end of the list
my_list.append(new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

In [ ]:
#ques 4

In [89]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = 25

# Index at which to insert the element
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

In [ ]:
#ques5

In [90]:
l1=[1,2,3,4,5,"meraj"]

In [91]:
l1.remove("meraj")

In [92]:
l1

[1, 2, 3, 4, 5]

In [ ]:
#ques6

In [94]:
l1

[1, 2, 3, 4, 5]

In [96]:
l1.pop(4)

5

In [98]:
l1

[1, 2, 3, 4]

In [ ]:
#in thi pop is for remove item by index no and remove is for  by item name

In [103]:
#ques7

In [104]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 30

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [21]:
#question 8

In [105]:
l2=["meraj","sheikh",1,2,3,4,5,6,7,7]

In [106]:
l2

['meraj', 'sheikh', 1, 2, 3, 4, 5, 6, 7, 7]

In [107]:
l2.index("meraj")

0

In [108]:
l2.index("sheikh")

1

In [26]:
#ques 9

In [27]:
l2

['meraj', 'sheikh', 1, 2, 3, 4, 5, 6, 7, 7]

In [28]:
l2.count(7)

2

In [29]:
#question 10

In [30]:
l2[::-1]

[7, 7, 6, 5, 4, 3, 2, 1, 'sheikh', 'meraj']

In [31]:
#ques 11

In [109]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [112]:
l3=[1,43,67,43,987,46,33,22,45,655
]

In [110]:
#q11

In [113]:
l3.sort()

In [114]:
l3

[1, 22, 33, 43, 43, 45, 46, 67, 655, 987]

In [ ]:
#ques12

In [115]:
l3.sort(reverse=True)

In [116]:
l3

[987, 655, 67, 46, 45, 43, 43, 33, 22, 1]

In [ ]:
#ques13

In [123]:
# Use a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#ques 14

In [124]:
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]

# Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [125]:
#que15

In [126]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

In [ ]:
#16

In [2]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

In [3]:
#17

In [4]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

In [5]:
#18

In [ ]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

In [6]:
#19

In [7]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [91, 53, 63, 2, 90, 96, 57, 21, 24, 75]

In [ ]:
#ques20 remove dublicates 

#to remove dublicate i convert data to set set automatically remove dublicates

In [9]:
l5=[1,2,3,3,3,4,4,5,6,7,8,9,0]

In [10]:
s1=list(set(l5))

In [11]:
s1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#ques21

In [12]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find common elements using list comprehension
common_elements = [element for element in list1 if element in list2]

# Print the common elements
print("Common elements:", common_elements)

Common elements: [30, 40, 50]

In [13]:
#22

In [14]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [ ]:
#ques 23 merge two list

In [16]:
#make list to merge
l1=[1,2,3]
l2=[4,5,6,7]
l1+l2

[1, 2, 3, 4, 5, 6, 7]

In [19]:
#q24

In [20]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [ ]:
#que 25

In [25]:
l3=[1,12,13,14,17]
for num in l3:
    if num%2==0:
            print(num)

12
14

In [ ]:
#26

In [38]:
string_list =["10", "20", "30", "40", "50"]
integer_list=[int(x) for x in integer_list]
print(integer_list)

[10, 20, 30, 40, 50]

In [ ]:
#ques27

In [47]:
a=[1,2,3,4,5,6,7,8,9]
b=[str(x)for x in a ]
print(b)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [50]:
#28  Flatten a nested list.

In [51]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#29

In [53]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(10)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [55]:
 #30

In [56]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [57]:
#31. Rotate a list to the left by n positions.¶

In [ ]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

In [58]:
#32

In [59]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [60]:
#33. Create a list of prime numbers up to 50.

In [61]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [62]:
#34. Split a list into chunks of size n.

In [63]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [64]:
#35. Find the second largest number in a list.

In [65]:
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [66]:
#36. Replace every element in a list with its square.¶

In [67]:
# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]
Squared list: [4, 16, 36, 64, 100]

In [68]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [69]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [70]:
#38. Shuffle the elements of a list randomly.

In [71]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [4, 9, 6, 2, 8, 1, 5, 3, 10, 7]

In [72]:
#39. Create a list of the first 10 factorial numbers.

In [73]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [74]:
#### 40. Check if two lists have at least one element in common.

In [75]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(lis
                      t1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [77]:
#41. Remove all elements from a list.

In [78]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [79]:
#42. Replace negative numbers in a list with 0.

In [80]:
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [81]:
#43. Convert a string into a list of words.

In [82]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [83]:
### 44. Convert a list of words into a string.

In [84]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [85]:
#45. Create a list of the first n powers of 2.

In [86]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [87]:
#46. Find the longest string in a list of strings

In [88]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

In [89]:
#47. Find the shortest string in a list of strings.

In [90]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [91]:
#48. Create a list of the first n triangular numbers.

In [92]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [93]:
#49. Check if a list contains another list as a subsequence.

In [94]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [95]:
#50. Swap two elements in a list by their indices

In [96]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [ ]:
'''touple based problems'''

In [1]:
#1. Create a tuple with integers from 1 to 5.

In [14]:
t=(1,2,3,4,5,3,4,4,4,5,5,7,8,9)

In [15]:
type(t)

tuple

In [6]:
#2 . Access the third element of a tuple

In [16]:
t

(1, 2, 3, 4, 5, 3, 4, 4, 4, 5, 5, 7, 8, 9)

In [99]:
#3

In [111]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50,50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 6

In [12]:
#4 Count the occurrences of an element in a tuple.

In [119]:
t=(1,2,3,3,4,5,5,5,6)

In [120]:
t.count(5)

3

In [20]:
#5. Find the index of the first occurrence of an element in a tuple

In [121]:
t

(1, 2, 3, 3, 4, 5, 5, 5, 6)

In [127]:
t=(1, 2, 3, 3, 4, 5, 5, 5, 6)
t.index(6)

8

In [ ]:
#6. Check if an element exists in a tupl

In [23]:
t

(1, 2, 3, 4, 5, 3, 4, 4, 4, 5, 5, 7, 8, 9)

In [ ]:
find =3

In [128]:
t1 = (1, 2, 3, 4, 5)

find = 7
if find in t1:
    print("Element exists in the tuple")
else:
    print("Element does not exist in the tuple")

Element does not exist in the tuple

In [ ]:
#7. Convert a tuple to a list

In [129]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [36]:
l=list(t)

In [37]:
l

[1, 2, 3, 4, 5, 3, 4, 4, 4, 5, 5, 7, 8, 9]

In [38]:
type(l)

list

In [ ]:
#8

In [40]:
t2=tuple(l)

In [41]:
t2

(1, 2, 3, 4, 5, 3, 4, 4, 4, 5, 5, 7, 8, 9)

In [42]:
type(t2)

tuple

In [ ]:
ques 9

In [43]:
t2

(1, 2, 3, 4, 5, 3, 4, 4, 4, 5, 5, 7, 8, 9)

In [130]:
m=(1,2,3)

a, b, c=m

print("a:",a)
print("b:",b)
print("c:",c)

a: 1
b: 2
c: 3

In [131]:
#. 10 Create a tuple of even numbers from 1 to 10

In [132]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [133]:
#ques11

In [136]:
# Step 1: Create a list of odd numbers using a list comprehension
odd_numbers_list = [num for num in range(1, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
odd_numbers_tuple = tuple(odd_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", odd_numbers_tuple)

Tuple of even numbers: (1, 3, 5, 7, 9)

In [63]:
t1=(1,3,5,7,9)

In [64]:
 #12Concatenate two tuples.

In [66]:
t

(2, 4, 6, 8, 10)

In [67]:
t1

(1, 3, 5, 7, 9)

In [68]:
t+t1

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [ ]:
# 13 Repeat a tuple three times.

In [69]:
t1

(1, 3, 5, 7, 9)

In [70]:
t1*3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [ ]:
#14. Check if a tuple is empty.

In [27]:
t = (1,2,3)

if not t:
    print("this tuple is emppty")
 
else:
        print("this tuple is not empty")

this tuple is not empty

In [88]:
#15. Create a nested tuple

In [102]:
t1=((1,2,3),(3,4,5),(5,6,7))

In [ ]:
#question 16 find first element

In [101]:
t1[0]

(1, 2, 3)

In [142]:
#17 Create a tuple with a single element.

In [143]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [ ]:
#18

In [138]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [8]:
#19 Delete a tuple.

In [144]:
t9=(2,3,4,5)

In [145]:
type(t9)

tuple

In [148]:
del(t9)

NameError: name 't9' is not defined

In [147]:
t9

NameError: name 't9' is not defined

In [113]:
#q 20 slice

In [4]:
t5=(1,2,3,4)

In [6]:
t5[::-1]

(4, 3, 2, 1)

In [7]:
t5[0:5]

(1, 2, 3, 4)

In [10]:
#q21

In [35]:
t1=(0,25,24,28,85,32,34,45,455)

max_value = max(t1)

print(max_value)

455

In [36]:
#ques 22

In [33]:
t2=(25,24,28,85,32,34,45,455)

lowest_value = min(t2)

print("minimum value:",lowest_value)

minimum value: 24

In [ ]:
#ques 23

In [40]:
a="my name is meraj and i live in delhi "
b=tuple(a)
print(b)

('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'e', 'r', 'a', 'j', ' ', 'a', 'n', 'd', ' ', 'i', ' ', 'l', 'i', 'v', 'e', ' ', 'i', 'n', ' ', 'd', 'e', 'l', 'h', 'i', ' ')

In [42]:
a

'my name is meraj and i live in delhi '

In [43]:
type(a)

str

In [ ]:
#24. Convert a tuple of characters to a string.

In [149]:
# Step 1: Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [153]:
#25

In [156]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [158]:
#26

In [159]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [161]:
#27. Sort the elements of a tuple.

In [162]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.

In [82]:
t12=(0, 25, 24, 28, 85, 32, 34, 45, 455)
t13=tuple(str(no)for no in t12)
print(t13)

('0', '25', '24', '28', '85', '32', '34', '45', '455')

In [ ]:
2nd method

In [169]:
#29

In [170]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [95]:
#30

In [2]:
t1=(1,2,3)

In [3]:
t2=(2,3,4,5)

In [4]:
t1+t2

(1, 2, 3, 2, 3, 4, 5)

In [172]:
#31

In [173]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [5]:
#32

In [6]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [11]:
#33. Check if a tuple is a palindrome.

In [15]:


 def is_palindrome(t17):
    return t17==t17[::-1]
t17=(1,2,3,2,1)    
    
if is_palindrome(t17):
    print("yes")
    
else:
    print("no")

yes

In [17]:
#34

In [20]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [34]:
#35. Filter out all even numbers from a tuple.

In [33]:
def filter_even_numbers(input_tuple):
    return tuple(x for x in input_tuple if x % 2 != 0)

original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = filter_even_numbers(original_tuple)
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [123]:
#36. Multiply all elements in a tuple by 2.

In [126]:
a1=(0, 25, 24, 28, 85, 32, 34, 45, 455)

a1=tuple((x*2) for x in a1)
print(a1)

(0, 50, 48, 56, 170, 64, 68, 90, 910)

In [40]:
#37. Create a tuple of random numbers

In [41]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (75, 5, 13, 98, 48, 39, 70, 40, 32, 14)

In [42]:
#38. Check if a tuple is sorted.

In [45]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [ ]:
#39 Rotate a tuple to the left by n positions.

In [46]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [47]:
#40. Rotate a tuple to the right by n positions.

In [48]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [49]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [50]:
## Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [134]:
#42 create a tuple from user input

In [137]:
a1=tuple(input())

 123456

In [138]:
a1

('1', '2', '3', '4', '5', '6')

In [139]:
type(a1)

tuple

In [ ]:
#43. Swap two elements in a tuple.

In [54]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [147]:
#44. Reverse the elements of a tuple

In [151]:
a2=(0, 24, 25, 28, 32, 34, 45, 85, 455)

a2[::-1]

(455, 85, 45, 34, 32, 28, 25, 24, 0)

In [ ]:
#45

In [55]:
#45. Create a tuple of the first n powers of 2.¶

In [56]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [ ]:
#46. Find the longest string in a tuple of strings

b2= "my" "name" "is" "meraj" "i" "love" "in" "newdelhi"

In [3]:
b2= "my","name","is","meraj","i","love","in","newdelhi"

In [4]:
longest_word=max(b2,key=len)

print(longest_word)

newdelhi

In [5]:
#47. Find the shortest string in a tuple of strings.

In [6]:
b2= "my","name","is","meraj","i","love","in","newdelhi"

shortest_word=min(b2,key=len)

print(shortest_word)

i

In [57]:
#48

In [58]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [ ]:
#49. Check if a tuple contains another tuple as a subsequence.

In [1]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length n.

In [2]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
###set base question

In [ ]:
#ques 1 Create a set with integers from 1 to 5

In [3]:
#done manually
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [ ]:
#question 2   Add an element to a set

In [5]:
#make set
a={1,2,3,4,5}
#use add function
a.add("meraj")
print(a)

{1, 2, 3, 4, 5, 'meraj'}

In [ ]:
#3. Remove an element from a set

In [7]:
a1={1, 2, 3, 4, 5, 'meraj'}
a.remove("meraj")
print(a)

{1, 2, 3, 4, 5}

In [11]:
a1={1, 2, 3, 4, 5, 'meraj'}
a.pop()
print(a)

{2, 3, 4, 5}

In [ ]:
#4. Check if an element exists in a set

In [14]:
a1={1, 2, 3, 4, 5,6,7,8,9}
element_to_check=int(input())
if element_to_check in a1:
    print("yes")
else:
    print("no")

 10

no

In [ ]:
#5. Find the length of a set without using the `len()` function.

In [11]:
a1={1, 2, 3, 4,6,7,8,9}
count=0
for _ in a1:
    count+=1
print(count)

8

In [16]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

In [ ]:
#6. Clear all elements from a set.

In [2]:
a1={1, 2, 3, 4, 5,6,7,8,9}
a1.clear()
print(a1)

set()

In [3]:
#7. Create a set of even numbers from 1 to 10

In [16]:
even_numbers_set=set()

for num in range(1,21):
    
    if num % 2==0:
        
        even_numbers_set.add(num)
        
print(even_numbers_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [ ]:
#8. Create a set of odd numbers from 1 to 10.

In [7]:
odd_list=set()
for num in range(1,20):
    if num %2!=0:
         odd_list.add(num)
   

print(odd_list)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [14]:
set1={1,2,3,3,4}
set2={2,3,6,7,8}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 6, 7, 8}

In [15]:
#10. Find the intersection of two sets

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_list=set1.intersection(set2)
print(intersection_list)

{3, 4, 5}

In [ ]:
#11. Find the difference between two sets.

In [2]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [ ]:
#12. Check if a set is a subset of another set.

In [5]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [7]:
set1 = {6,7,8}
set2 = {1, 2, 3, 4}
issubset=set1.issubset(set2)
print(issubset)

False

In [ ]:
#13

In [8]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {7,8}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is not a superset of set2

In [9]:
#14

In [10]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [ ]:
#15

In [12]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [ ]:
#16

In [3]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

In [2]:
#17
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [1]:
#18
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [1]:
#19
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [2]:
#20. Update a set with elements from another set.

# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [ ]:
#21. Create a set of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

In [3]:
#22. Check if two sets are identical.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [4]:
#23. Create a frozen set

# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [5]:
#24. Check if a set is disjoint with another set

# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [6]:
#25. Create a set of squares of numbers from 1 to 5.

# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [1]:
#26. Filter out all even numbers from a set
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [2]:
### 27. Multiply all elements in a set by 2.
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [3]:
#### 28. Create a set of random numbers.
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {8, 40, 60, 12}

In [4]:
### 29. Check if a set is empty.
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [5]:
#### 30. Create a nested set (hint: use frozenset).

# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [6]:
#31. Remove an element from a set using the discard method.
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [7]:
#32. Compare two sets.
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [8]:
#33. Create a set from a string.33. Create a set from a string.

# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'h', 'l', 'e', 'o'}

In [9]:
#34. Convert a set of strings to a set of integers.

# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

In [10]:
#35. Convert a set of integers to a set of strings.

# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '2', '5', '1', '4'}

In [11]:
#36. Create a set from a tuple.

# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [12]:
#37. Convert a set to a tuple

# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [13]:
#38. Find the maximum value in a se

# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [14]:
#39. Find the minimum value in a set.
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4
The minimum value in the set is: 4

In [15]:
#40. Create a set from user inpu


# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  12345
>  donw
>  done

Final set: {'donw', '12345'}

In [16]:
#4141. Check if the intersection of two sets is empty.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [17]:
#42. Create a set of the first 5 Fibonacci numbers.

# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [18]:
#43. Remove duplicates from a list using sets.

# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [19]:
#44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [20]:
#45. Create a set of the first n powers of 2

def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [21]:
#46. Find the common elements between a set and a list.

# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [5]:
#47. Create a set of the first n triangular numbers.:

def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  12

The set of the first 12 triangular numbers is: {1, 66, 3, 36, 6, 10, 45, 78, 15, 21, 55, 28}

In [6]:
#48. Check if a set contains another set as a subset

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [7]:
#49. Create a set of alternating 1s and 0s of length n.

def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [8]:
#50. Merge multiple sets into one.50

# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}